"*":
  "atom-color-highlight": {}
  "autocomplete-plus": {}
  core:
    projectHome: "/Users/jmblog/src"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    invisibles: {}
    preferredLineLength: 150
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "9a0fc135-6b10-32a3-829f-6113bc15a030"
  fonts:
    fontFamily: "Inconsolata"
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected": {}
  linter: {}
  metrics:
    userId: "b52998dda154e5f0664dc6f4bd03c798e49e2ea5"
  minimap: {}
  pigments: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view": {}
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 150
".js.jsx.react.source":
  editor:
    preferredLineLength: 150
".js.jsx.source":
  editor:
    preferredLineLength: 150
".js.source.subtlegradient":
  editor:
    preferredLineLength: 150
".slim.text":
  editor:
    preferredLineLength: 150
